<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <meta name="viewport" content="width=device-width">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <div class="main_header">
                <div class="main_header-top-bar">
                    <img class=logo src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                    <div class="buscador">
                        <input type="search" id="search" placeholder="Buscar productos, marcas" />
                        <span class="icon"><i class="fa fa-search"></i></span>
                    </div>
                    <h2 class="copy-header"><i class="fas fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</h2>
                </div>
                <nav class="main_header-botton-bar">
                    <div class = "menu">
                        <ul>
                            <li><a href="#">Ofertas</a></il>
                            <li><a href="#">Tiendas Oficiales</a></li>
                            <li><a href="/crearProducto">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div>
                    <div class = "menu">
                        <ul>
                            <li><a href="/registro">Creá tu cuenta <i class="fas fa-solid fa-address-card"></i></a></li>
                            <li><a href="/login">Ingresá <i class="fas fa-solid fa-arrow-right-to-bracket"></i></a></li>
                            <li><a href="#">Mis compras <i class="fas fa-regular fa-bag-shopping"></i></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
        <div> 
            <img class ="banner" src="/images/img-home-banner.jpg" alt="Banner del sitio">
        </div>
        <main>
            <div class="titulo-seccion"><h2 class="titulares">Basado en tu última visita</h2></div>
            <section>
                
                <article class="producto">
                    <figure class="img_producto">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex">
                    </figure>
                    <div class="info-producto">
                        <p>$6.770</p>
                        <span>40% OFF</span>
                        <h3>Cafetera Moulinex</h3>
                        <i class="fav fa-solid fa-truck"></i>
                    </div>
                </article>
                <article class="producto">
                    <figure class="img_producto">
                        <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacbookPro 2019">
                    </figure>
                    <div class="info-producto">
                        <p>$230.000</p>
                        <span>20% off</span>
                        <h3>MacBook Pro 2019</h3>
                        <i class="fav fa-solid fa-truck"></i>
                    </div>
                </article>
                <article class="producto">
                    <figure class="img_producto">
                        <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg"
                            alt="Imagen de celular Samsung Galaxy S10">
                    </figure>
                    <div class="info-producto">
                        <p>$70.500</p>
                        <span>10% off</span>
                        <h3>Samsung Galaxy S10</h3>
                        <i class="fav fa-solid fa-truck"></i>
                    </div>
                </article>
                <article class="producto">
                    <figure class="img_producto">
                        <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="Imagen de Tv Samsung smart">
                    </figure>
                    <div class="info-producto">
                        <p>$23.200</p>
                        <span>5% off</span>
                        <h3>SmartTv Samsung 43</h3>
                        <i class="fav fa-solid fa-truck"></i>
                    </div>
                </article>
            </section>
            <div class="titulo-seccion"><h2>Ofertas</h2></div>
            <section>
                
                <article class="producto">
                    <figure class="img_producto">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex">
                    </figure>
                    <div class="info-producto">
                        <p>$6.770</p>
                        <span>40% OFF</span>
                        <h3>Cafetera Moulinex</h3>
                        <i class="fav fa-solid fa-truck"></i>
                    </div>
                </article>
                <article class="producto">
                    <figure class="img_producto">
                        <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacbookPro 2019">
                    </figure>
                    <div class="info-producto">
                        <p>$230.000</p>
                        <span>20% off</span>
                        <h3>MacBook Pro 2019</h3>
                        <i class="fav fa-solid fa-truck"></i>
                    </div>
                </article>
                <article class="producto">
                    <figure class="img_producto">
                        <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg"
                            alt="Imagen de celular Samsung Galaxy S10">
                    </figure>
                    <div class="info-producto">
                        <p>$70.500</p>
                        <span>10% off</span>
                        <h3>Samsung Galaxy S10</h3>
                        <i class="fav fa-solid fa-truck"></i>
                    </div>
                </article>
                <article class="producto">
                    <figure class="img_producto">
                        <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="Imagen de Tv Samsung smart">
                    </figure>
                    <div class="info-producto">
                        <p>$23.200</p>
                        <span>5% off</span>
                        <h3>SmartTv Samsung 43</h3>
                        <i class="fav fa-solid fa-truck"></i>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <div class="footer-top">
                <article>
                    <i class="fav fa-solid fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article>
                    <i class="fav fa-solid fa-gift"></i>
                    <h2>Envío gratis desde $ 2.500</h2>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article>
                    <i class="fav fa-solid fa-user-shield"></i>
                    <h2>Seguridad de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </article>
            </div>
            <div class="footer-bottom">
                <section class="copyright">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </section> 
            </div>
            
        </footer>
    </body>
</html>