<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <meta name="viewport" content="width=device-width">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <div class="main_header">
                <div class="main_header-top-bar">
                    <img class=logo src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                    <form action="/home" method="GET" class="search-form">
                        <input type="text" name="data-search" placeholder="Buscar productos, marcas y más" class="buscador">
                        <button type="submit" class="lupa-img"><i class="fas fa-search"></i></button>
                    </form>
                    <h2 class="copy-header"><i class="fas fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</h2>
                </div>
                <nav class="main_header-botton-bar">
                    <div class = "menu">
                        <ul>
                            <li><a href="#">Ofertas</a></il>
                            <li><a href="#">Tiendas Oficiales</a></li>
                            <li><a href="#">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div>
                    <div class = "menu">
                        <ul>
                            <li><a href="/registro">Creá tu cuenta <i class="fas fa-solid fa-address-card"></i></a></li>
                            <li><a href="/login">Ingresá <i class="fas fa-solid fa-arrow-right-to-bracket"></i></a></li>
                            <li><a href="#">Mis compras <i class="fas fa-regular fa-bag-shopping"></i></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
        <form action="" method="POST" class="create-form">
            <div class="control-formulario">
                <input type="text" name="user" placeholder="Nombre de usuario" class="control" required>
                <input type="password" id="password" name="password" class="control" placeholder="Contraseña" required>
                <button type="submit" class="boton-formulario">Envio</button>
            </div>
        </form>
        <footer class="footer_login">
            <div class="footer-top">
                <article>
                    <i class="fav fa-solid fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article>
                    <i class="fav fa-solid fa-gift"></i>
                    <h2>Envío gratis desde $ 2.500</h2>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article>
                    <i class="fav fa-solid fa-user-shield"></i>
                    <h2>Seguridad de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </article>
            </div>
            <div class="footer-bottom">
                <section class="copyright">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </section> 
            </div>
            
        </footer>
    </body>
</html>